.carousel-item-txt {
  bottom: 50px;
}
.carousel-item img {
  height: 300px
}
@include smobile {
  .carousel-item img {
    height: 400px;
  }
}
@include mobile {
  .carousel-item img {
    height: 500px;
  }
}
@include pad {
  .carousel-item img {
    height: 600px;
  }
}
@include desktop {
  .carousel-item img {
    height: calc(100vh - 64px);
  }
}
// 最新消息區塊
.home-title::after{
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: $lgreen;
  margin: 0 auto;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
}
.mews-card {
  & .card-footer {
    background-color: transparent;
    border-top: 0px solid rgba(0, 0, 0, 0.125);
    padding: 0rem 1rem 1.5rem;
  }
}
.video-banner {
  @include banner('~@/assets/img/video.jpg', 315px);
  background-attachment: fixed;
}
.video-banner::before {
  content: '';
  display: block;
  position: absolute;
  background:rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video-title {
  position: absolute;
  z-index: 1;
  top: 75%;
  transform: translateY(-50%);
}
@include pad {
  .video-title {
    top: 50%;
    transform: translateY(-50%);
  }
}
.video-text {  // 潔膚皂的誕生那段字
  margin-left: -8px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 95px;
    transition: all 1s;
    background: $streak;
    left: 0%;
    top: 100%;
    z-index: 1;
  }
}
.video-btn {
  position: relative;
  height: 80px;
  width: 80px;
  background: $sgreen;
  text-align: center;
  line-height: 85px;
  color: #fff;
  border-radius: 50%;
  & i {
    font-size: 18px;
  }
  &:hover {
    color: $white;
  }
}
.video-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 95px;
  width: 95px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: .3;
  animation: pulse-border 1500ms ease-out infinite;
}
.video-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 80px;
  width: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: .3;
  animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; 
  } 
}
/* about : 關於 Sebamed */
.about-title span {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $lgreen;
    position: absolute;
    bottom: -9px;
    left: 7%;
  }
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $lgreen;
    position: absolute;
    bottom: -14px;
    left: 7%;
  }
}
.about-img-top {
  box-shadow: none;
}
.about-img-bottom {
  box-shadow: none;
}
.about-title span {
  font-size: 32px;
}
.about-text p {
  font-size: 24px;
}
@include pad {
  .about-title span {
    font-size: 26px;
  }
  .about-text p {
    font-size: 16px;
  }
  .about-img-top {
    margin-top: -40px;
    box-shadow: 0 0 0 8px #fff;
  }
  .about-img-bottom {
    margin-bottom: -20px;
    box-shadow: 0 0 0 8px #fff;
  }
}
@include desktop {
  .about-title span {
    font-size: 32px;
  }
  .about-text p {
    font-size: 24px;
  }
}

/* memo */
.memo {
  width: 100%;
  height: 1000px;
  background-image: url('~@/assets/img/memo2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 100px auto 0;
  z-index: 12;
}
.memo, .memo-info {
  flex-direction: column;
}
.memo-info {
  margin-top: 100px;
}
.memo-title {
  position: relative;
  & p.memo-txt {
    position: relative;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
    transform: rotate(-5deg);
    line-height: 1.8;
    color: #959191;
    text-align: center;
    & img {
      position: absolute;
      top: -160px;
      left: -180px;
      z-index: -1;
    }
  }
  & p.memo-name {
    font-size: 42px;
    font-weight: bolder;
    letter-spacing: 5px;
    transform: rotate(-5deg);
  }
  & .memo-yellow {
    position: absolute;
    width: 85%;
    z-index: -1;
    top: 80%;
    left: 25%;
  }
}
@keyframes updown2 {
  0% {
    transform:translateY(3%)
  }
  to {
    transform:translateY(-3%)
  }
}
.updown2 { 
  animation-name: updown2;
  animation-iteration-count: infinite;animation-direction:alternate;
  animation-duration: 5s;
  animation-timing-function: linear
}
@keyframes fadeIn{
  0% {
    opacity:0
  }
  to {
    opacity:1
  }
}
.memo-wash {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transform: rotate(10deg);
  margin-top: -100px;
  & img {
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-name: updown2;
  }
}
.memo-content {
  margin-top: -100px;
  & li {
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    margin-top: 38px;
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      top: 45px;
      border-bottom: 3px dashed #4f4f4f;
    }
  }
}
@include smobile {
  .memo {
    flex-direction: column;
  }
  .memo-info {
    margin-top: 100px;
    width: 100%;
  }
  .memo-title {
    margin-left: 6.75rem;
    & p.memo-txt {
      font-size: 24px;
      text-align: center;
      & img {
        top: -160px;
        left: -130px;
      }
    }
    & p.memo-name {
      font-size: 28px;
      margin-top: 20px;
    }
    & .memo-yellow {
      top: 85%;
      left: 5%;
    }
  }
  .memo-wash {
    position: relative;
    width: 30%;
    & img {
      position: absolute;
      top: 0px;
      left: -90%;
    }
  }
  .memo-content {
    margin-top: 100px;
    & li {
      font-size: 16px;
      margin-top: 38px;
      &:before {
        top: 30px;
      }
    }
  }
}
@include mobile {
  .memo {
    flex-direction: column;
  }
  .memo-info {
    margin-top: 150px;
    width: 100%;
  }
  .memo-title {
    margin-left: 0.75rem;
    & p.memo-txt {
      font-size: 32px;
      text-align: left;
      & img {
        top: -160px;
        left: -180px;
      }
    }
    & p.memo-name {
      font-size: 36px;
      margin-top: 20px;
    }
    & .memo-yellow {
      top: 85%;
      left: 5%;
    }
  }
  .memo-wash {
    position: relative;
    width: 30%;
    & img {
      position: absolute;
      top: -30px;
      left: 120%;
    }
  }
  .memo-content {
    margin-top: 150px;
    & li {
      font-size: 24px;
      margin-top: 38px;
      &:before {
        top: 45px;
      }
    }
  }
}
@media(min-width: 768px){
  .memo-info {
    margin-top: 230px;
    width: auto;
  }
  .memo-title {
    & p.memo-txt {
      & img {
        top: -160px;
        left: -180px;
      }
    }
    & p.memo-name {
      font-size: 50px;
      margin-top: 20px;
    }
    & .memo-yellow {
      top: 85%;
      left: 5%;
    }
  }
  .memo-wash {
    position: static;
    width: auto;
    height: auto;
    margin-top: -150px;
    margin-left: 550px;
    & img {
      position: static;
    }
  }
  .memo-content {
    margin-top: -50px;
    & li {
      font-size: 24px;
      margin-top: 38px;
      &:before {
        top: 45px;
      }
    }
  }
}
@media(min-width: 992px){
  .memo-info {
    margin-top: 0px;
  }
  .memo {
    width: 100%;
    height: 600px;
    background-image: url('~@/assets/img/memo.png');
  }
  .memo, .memo-info {
    flex-direction: row;
  }
  .memo-title {
    margin-top: -220px;
    margin-left: 13.75rem;
    & p.memo-txt {
      font-size: 18px;
      & img {
        top: -130px;
        left: -120px;
      }
    }
    & p.memo-name {
      font-size: 24px;
      margin-top: 0;
    }
    & .memo-yellow {
      top: 80%;
      left: 25%;
    }
  }
  .memo-wash {
    margin-top: -280px;
    margin-left: 0px;
  }
  .memo-content {
    margin-top: -250px;
    margin-left: -50px;
    & li {
      font-size: 16px;
      &:before {
        top: 30px;
      }
    }
  }
}
@media(min-width: 1100px){
  .memo-title {
    margin-top: -200px;
    margin-left: 15.75rem;
    & p.memo-txt {
      font-size: 24px;
      & img {
        left: -180px;
      }
    }
    & p.memo-name {
      font-size: 28px;
    }
  }
  .memo-wash {
    margin-top: -230px;
  }
  .memo-content {
    & li {
      font-size: 18px;
      &:before {
        top: 45px;
      }
    }
  }
}
@media(min-width: 1200px){
  .memo-title {
    margin-top: -100px;
    margin-left: 17.75rem;
    & p.memo-txt {
      & img {
        top: -130px;
      }
    }
  }
  .memo-wash {
    margin-top: -200px;
  }
  .memo-content {
    margin-top: -200px;
    margin-left: 0px;
  }
}
@media(min-width: 1300px){
  .memo-title {
    margin-top: -50px;
    margin-left: 8.75rem;
    padding-left: 7.75rem;
    & p.memo-txt {
      font-size: 28px;
      & img {
        top: -160px;
        left: -180px;
      }
    }
    & p.memo-name {
      font-size: 32px;
      margin-top: 0;
    }
  }
  .memo-wash {
    margin-top: -160px;
  }
  .memo-content {
    margin-top: -150px;
    & li {
      font-size: 24px;
    }
  }
}
@media(min-width: 1400px){
  .memo-title {
    margin-left: 10.75rem;
  }
  .memo-wash {
    margin-top: -100px;
  }
  .memo-content {
    & li {
      font-size: 28px;
    }
  }
}
@media(min-width: 1580px){
  .memo {
    width: 90%;
  }
}
@media(min-width: 1750px){
  .memo {
    width: 80%;
  }
}

/* contact */ 
.contact-wrap {
  padding: 10px 8px;
}
.contact-left {
  position: relative;
  & span {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 42px;
    font-weight: 900;
    color: #e9eae9;
  }
  & p {
    letter-spacing: 1px;
    padding: 5px;
    margin-top: 30px;
    color: #4f4f4f;
    line-height: 2;
  }
}
.contact {
  max-width: 450px;
  padding: 20px;
  border-radius: 3px;
  background-color: #fefefe;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  & textarea {
    height: 150px;
  }
}
.contact-right {
  position: relative;
  & .contactPic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 45%;
    bottom: -15px;
    transform: rotate(15deg);
    background-image: url('~@/assets/img/mail.png');
    background-size: cover;
    background-position: 50%;
    z-index: -1;
  }
}
@include desktop {
  .contact {
    padding: 30px;
  }
  .contact-wrap {
    padding: 80px 80px 100px;
    margin-top: -250px;
  }
  .contact-left span {
    bottom: -100px;
  }
}
@media(min-width: 1200px){
  .contact-wrap {
    margin-top: -100px;
  }
}
@media(min-width: 1400px){
  .contact-wrap {
    margin-top: -50px;
  }
}
